absl-py==0.11.0
backcall==0.2.0
beautifulsoup4==4.9.1
cached-property==1.5.2
cachetools==4.2.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
conda==4.8.3
conda-build==3.18.11
conda-package-handling==1.7.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
filelock==3.0.12
future==0.18.2
glob2==0.7
google-auth==1.24.0
google-auth-oauthlib==0.4.2
grpcio==1.34.1
h5py==3.1.0
hydra-core==0.11.3
idna==2.9
importlib-metadata==3.4.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
Jinja2==2.11.2
kiwisolver==1.3.1
libarchive-c==2.9
lmdb==1.0.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.2
msgpack-numpy==0.4.7.1
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
omegaconf==1.4.1
opencv-python==4.5.1.48
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
prompt-toolkit==3.0.5
protobuf==3.14.0
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytorch-lightning==0.7.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.7
ruamel-yaml==0.15.87
scipy==1.6.0
six==1.14.0
soupsieve==2.0.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.46.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.8
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.0
